<nav class="sheet-tabs tabs" data-group="primary">
  {{#isGM}}{{/isGM}}
  <a
    class="selling-stuff"
    data-action="tab"
    data-tab="sellingStuff"
    data-group="sheet"
  >{{localize "DB-IB.merchant.selling"}}</a>
  <a
    class="buing-stuff"
    data-action="tab"
    data-tab="buingStuff"
    data-group="sheet"
  >{{localize "DB-IB.merchant.buing"}}</a>
</nav>