<div class="buing-items">
    {{#groupByActor items}}
    {{/groupByActor}}
</div>
<div class="item-actions">
    <button class="sell-button" >{{localize "DB-IB.SellWithoutBarter"}}</button>
    <button class="barter-button" >{{localize "DB-IB.rollForBarter"}}</button>
</div>