<form>
  <div class="form-group">
    <input type="checkbox" name="enabled" {{checked enabled}} />
  </div>

  <div class="form-group">
    <label for="text">{{localize "DB-IB.settings.customeBerterSkill"}}</label>
    <input type="text" name="text" value="{{text}}" />
  </div>
</form>