<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header character-header">
    <div class="image-container-merchant">
      <img
        class="profile-img"
        src="{{actor.img}}"
        data-edit="img"
        title="{{actor.name}}"
        data-action="editImage"
        data-edit="img"
      />
      <h1 class="merchant-name">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"
          class="merchant-name"
          data-edit="name"
        />
      </h1>
    </div>
  </header>
  <h1></h1>

</form>